body{
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
}

.header{
	background-color: grey;
	/*text-align: center;*/
	padding-top: 25px;
	padding-bottom: 20px;
	/*background-image: url(immagini/clouds.jpg);
	background-size: 75%;
	background-repeat: no-repeat;
	background-position: center;*/

}

.header h1{
	color: white;
	font-size: 30px;
	position: relative;
	/*text-align: left;*/
	left: 50px;

	

}

.header img{
	float: left;
	width: 75px;
	height: 75px;
	border: 2px solid black;
	margin-left: 100px;
}

/* max width of text */
main {
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px;
	padding-bottom: 50px;

	/*text-align: center;*/
}
/* max width of images is 100% of the width above */
main img{
	max-width: 100%;
	text-align: center;
}

/* all h2 */
h2{
	font-size: 25px;
}

/* all links */
a{
	color: steelblue;
}
a:hover{
	color: teal;
}

footer {
	background-color: grey;
	text-align: center;
	padding: 8px;
}

/*.container{
	width: 100%;
	height: 100%;
	background: grey;
	align-items: center;
	display: inline-block;
}*/





